
/* General layout */

body {
  -webkit-tap-highlight-color: rgba(201,40,45,0.6);
  background-color: #ccc;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,0.2) 50%);
  background-size: 50px 50px;
}

.footer {
  position: fixed;
  left: 10px;
  bottom: -3px;
}

.progress {
  background: #f8f8f8 url(../img/note.jpg);
}

.progress-bar {
  background-color: #999;
}

.progress-bar:hover {
  background-color: #428BCA;
}

.skill {
  margin-right: 4px;
  float: left;
  position: absolute;
}

p.skill {
  color: #f8f8f8;
  margin-left: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
}

a { 
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
    
a:hover { 
  color: #c9282d;
}

.info {
  background: #f8f8f8 url(../img/note.jpg);
}

.icons {
  height: 65px;
  width: 100%;
  margin-top: -29px;
}

.quote {
  border-left: 5px solid #ccc;
  padding-left: 10px;
}

.quote p {
  text-align: right;
}

.quote:hover {
  color: #c9282d;
  cursor: pointer;
}

.col-mail {
  z-index: 1;
  height: 9px;
}

@media (max-width: 480px) {
  #twitter, #github {
    display: none;
  }
}

/* Button styles */

a.mail {
  background-color: transparent;
  background: url(../img/mail_icon.png) no-repeat;
  background-position: 0 -256px;
  width: 128px;
  height: 128px;
  float: left;
}

a.mail:hover {
  background-position: 0 0;
}

a.social-btn {
  background-color: transparent;
  background: url(../img/social_icons.png) no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 2px;
  float: right;
}

#facebook {
  background-position: -60px 0;
}

#facebook:hover {
  background-position: -60px -120px;
}

#linkedin {
  background-position: -120px 0;
}

#linkedin:hover {
  background-position: -120px -120px;
}

#twitter {
  background-position: -180px 0;
}

#twitter:hover {
  background-position: -180px -120px;
}

#github {
  background-position: -240px 0;
}

#github:hover {
  background-position: -240px -120px;
}
